# --- Core Framework ---
Django
djangorestframework
gunicorn
pandas
scikit-learn
joblib

# --- Database & Cache ---
mysqlclient
redis
celery

# --- API & Services ---
google-generativeai
requests
boto3
django-storages

# --- Utilities & Security ---
python-dotenv
django-cors-headers
django-extensions
whitenoise
pillow
django-ratelimit